:root {
    --main-color: whitesmoke;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: slategrey;
    color: var(--main-color);
}

.header {
    background-color: slateblue;
    color: var(--main-color);
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header h1 {
    display: inline-block;
    font-size: 35px;
}

.header main {
    float: right;
    padding-top: 9px;
    margin-right: 20px;
    font-size: 20px;
}

.header main ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 20px;
}

.hero {
    height: 550px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../paintings/eiffel-tower-dancing.jpg");
    background-size: cover;
    background-position: center;
}

.picture {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.links {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.about-me, .work-you-wish-you-did, .contact-info {
    width: 75%;
    border: 5px solid whitesmoke;
    padding: 20px;
    margin: 5px;
}

